.input {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
}

.input__label {
  font-size: 24px;
}

.input__input {
  background-color: #fff6d7;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  font-family: "Inter-Bold";
}
